// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-page {
	height: 100%;
}

.cyan {
	background-color: #00BCD4;
}



.container {
	color: #fff;
	font-weight: 100;

	.section {
		padding: 1em 3em 1em 3em;
		height: 80%;
		text-align: center;
		
		h1 {
			font-size: 4.2em;
			display: none;
		}

		h4 {
			margin-top: 5%;
			display: none;
			padding-top: 5%;	
		}

		p {
			margin-top: 15%;
			font-size: 2.0em;
			font-weight: 100;
			display: none;
		}

		label {
			color: #fff;
			font-size: 1.3em;
		}

		.f-w-100{
			font-weight: 100;
		}
		.f-w-300{
			font-weight: 300;
		}

		.light {
			color: #b2dfdb;
		}
	}


}

@media only screen and (min-width: 601px){
	.container {
		.section {
			padding: 2em 5em 2em 5em;
			text-align: left;
		}

	}
	

}


