// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-page {
	height: 100%;
}

.cyan {
	background-color: #00BCD4;
}

#modal1 {
	max-height: 70%;

}
.modal .container .modal-content{
	padding: 24px 0 5px 0;
}

.f-c {
	display: flex;
	justify-content:center;
}

.container {
	color: #fff;
	font-weight: 100;

		
		.modal-content {
			color: #222;

			h4 {
				font-size: 2.18em;
				color:rgb(38, 166, 154);
				text-align: center;
			}

		}


	.section {
		padding: 1em 3em 1em 3em;
		height: 80%;
		text-align: center;
		
		h1 {
			font-size: 4.2em;
			display: none;
		}

		h4 {
			margin-top: 5%;
			display: none;
			padding-top: 5%;	
		}

		p {
			margin-top: 15%;
			font-size: 1.3em;
			font-weight: 100;

		}

		label {
			color: #fff;
			font-size: 1.3em;
		}

		.f-w-100{
			font-weight: 100;
		}
		.f-w-300{
			font-weight: 300;
		}

		.light {
			color: #b2dfdb;
		}

		.btn {
			margin: 10px auto;
		}
	}


}
.page {
	padding-top: 2em;	
	.container {
		.f-w-100{
			font-weight: 100;
		}
		h2 {
			margin-top: 0px;
		}
		.card .card-content{
			p {
				color : grey;
			}
		}
	}
}

@media only screen and (min-width: 601px){
	.container {

		.modal-content{

			h4{
				font-size: 2.28em;
			}
			#message_content{
				min-height: 5.7em;
			}
		}

		.section {
			padding: 2em 5em 2em 5em;
			text-align: left;

			p {
				font-size: 2em;
			}

		}

	}

	.page {
		.container {
			h2 {
				text-align: left;
			}
			
			.card .card-content{
				
			}
		}
	}
	

}


