// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	color: #fff;

	.full-page {
		margin-top: 10%;
		height: 80%;
	}

	.first-section {
		background-color: #0097A7;
		
		h1 {
			padding-top: 10%;
			display: none;
		}

		h4 {
			margin-top: 5%;
			display: none;
			padding-top: 5%;	
		}


		.m-t-0 {
			margin-top: 0;
		}

		.m-l-5{
			margin-left: 5%;
		}

		.f-w-100{
			font-weight: 100;
		}
	}


}


